:root {
    --primary: #4F1271;
    --secondary: #BFACC8;
    --tertiary: #FF9B42;
}

.text-primary {
    /* Corrigido */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.text-secondary {
    /* Corrigido */
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
label,
button {
    margin-bottom: .3rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.header p,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header label,
.header button {
    color: #FFF;
    font-size: .8rem;
    padding: 0 !important;
    margin: 0 !important;
}

.active {
    color: var(--tertiary) !important
}

.header {
    height: 2rem
}

a {
    text-decoration: none !important;
    font-size: .8rem;
    color: #FFF !important;
}

a:not(.disabled):hover {
    color: var(--secondary) !important;
}

i {
    color: #FFF;
    cursor: pointer;
}

i:not(.disabled):hover {
    color: var(--secondary);
    cursor: pointer;
}

.fa-power-off {
    color: #F00 !important;
}