.card {
    border: solid .5px var(--primary)
}

.card>button {
    margin: 0 !important;
    background-color: var(--primary);
    border-radius: 0 !important;
}

.card div p {
    background-color: var(--secondary);
    border-radius: 5px 5px 0 0 !important;
    color: var(--primary);
    border-bottom: solid .5px var(--primary);
}

.modal-header button {
    background-color: var(--primary);
}

.img {
    background-color: lightgray;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 7px 10px 10px #00000077
}
